.toast{
	display:flex;
    align-items: center;
	background-color: #fff;
	border-radius: 2px;
	border-left: 4px solid;
	padding:20px 0;
    min-width:400px;
    max-width:450px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.18);
    border-color: #47d864;
    transition: all linear .3s  ;
}

@keyframes slideInLeft{
    from{
        opacity: 0.2;
    transform: translateX(calc(100% + 32px));
    }
    to{
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}


.toast + .toast{
    margin-top:24px;
}

.toast__icon{
	font-size:24px;
    color:#47d864;
}
.toast__icon,
.toast__close{
	padding:0 16px;
}
.toast__body{
    flex-grow: 1;
}
.toast__title{
    font-size:16px;
    font-weight: 600;
    color:#333;
}
.toast__msg{
    font-size:14px;
    color:#888;
    margin-top:6px;
    line-height:1.5;
}
.toast__close{
	font-size:20px;
	color:rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#toast{
    position: fixed;
    top:60px;
    right: 32px;
}

